.map-container {
  height: 80vh;
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
}

.property-card {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #fff;
  padding: 14px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 2px 10px #0003;
  z-index: 1000;
}

.property-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}
