.services-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  padding: 4rem 0;
  position: relative;
  perspective: 1500px;
}

/* Base */
.service-card {
  width: 350px;
  padding: 2rem 1rem;
  border-radius: 1.8em;
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  color: rgb(255, 253, 240);
  transition: transform .45s ease, opacity .45s ease, box-shadow .45s ease;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.33);
  transform-style: preserve-3d;
}

.label{
  margin-bottom: 0.5em;
}

/* POSITIONS */
.left-card {
  transform: translate(30px) rotateY(20deg) scale(.9);
  opacity: .8;
}

.main-card {
  padding-bottom: 3em;
  transform: translateY(-10px) scale(1.1);
  z-index: 3;
}

.right-card {
  transform: translate(-30px) rotateY(-20deg) scale(.9);
  opacity: .8;
}

/* Hover effects */
.left-card:hover {
  transform: translateX(2.5em) rotateY(25deg) scale(1.02) translateY(-10px);
  z-index: 10;
  opacity: 1;
}

.main-card:hover {
  transform: translateY(-25px) scale(1.15);
  z-index: 10;
  opacity: 1;
}

.right-card:hover {
  transform: translateX(-2.5em) rotateY(-25deg) scale(1.02) translateY(-10px);
  z-index: 10;
  opacity: 1;
}
