<div class="container-fluid">

  <div class="row filters-row mx-4 align-items-center">

    <!-- Search -->
    <div class="col-5">
      <div class="search-wrap">
        <i class="bi bi-search"></i>
        <input class="search-input" type="text" placeholder="Title, location, or description" [ngModel]="search()"
          (ngModelChange)="search.set($event)" />
      </div>
    </div>

    <!-- Location filter -->
    <div class="col-2">
      <select class="form-select search-wrap" [ngModel]="location()" (ngModelChange)="location.set($event)">
        <option value="">All Locations</option>
        <option *ngFor="let loc of locations()" [value]="loc">{{ loc }}</option>
      </select>
    </div>

    <!-- Max Price -->
    <div class="col-2">
      <input type="number" placeholder="Max Price" class="form-control search-wrap" [ngModel]="maxPrice()"
        (ngModelChange)="maxPrice.set($event === '' ? null : +$event)" />
    </div>

    <!-- Min Rating -->
    <div class="col-2">
      <input type="number" placeholder="Min Rating" class="form-control search-wrap" min="0" max="5" step="0.5"
        [ngModel]="minRating()" (ngModelChange)="minRating.set($event === '' ? null : +$event)" />
    </div>

    <!-- Reset btn -->
    <div class="col-1 d-flex justify-content-end">
      <button class="btn glass-btn rounded-4 w-50" (click)="resetFilters()"><i
          class="bi bi-arrow-clockwise"></i></button>
    </div>

  </div>

  <!-- MAIN ROW -->
  <div class="row mx-4">

    <!-- Listings -->
    <div class="col-10 listings-row">
      <div class="cards-list">

        <app-listing-card *ngFor="let listing of filtered(); trackBy: trackById" [listing]="listing">
        </app-listing-card>

      </div>

      <div *ngIf="loading" class="text-center my-3">
        Loading listings...
      </div>

      <div *ngIf="error" class="alert alert-danger my-3">
        {{ error }}
      </div>
    </div>

    <!-- SIDEBAR -->
    <div class="col-2">
      <div class="listings-row glass-card p-3">

        <!-- Amenities -->
        <div class="section mb-2">
          <h5 class="text-white mb-3">Amenities</h5>
          <div class="amenities-grid">
            <button *ngFor="let amenity of amenitiesList" type="button" class="amenity-btn"
              [class.selected]="isAmenitySelected(amenity)" (click)="toggleAmenity(amenity)">
              {{ amenity }}
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>